{
    "root": true,
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "promise",
        "prettier"
    ],
    "extends": [
        // Uses the recommended rules from the @typescript-eslint/eslint-plugin
        "plugin:@typescript-eslint/recommended",
        "plugin:promise/recommended",
        // Recommended config for prettier 8.x: https://github.com/prettier/eslint-config-prettier/blob/main/CHANGELOG.md#version-800-2021-02-21
        // Enables eslint-plugin-prettier and eslint-config-prettier.
        // This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
        "plugin:prettier/recommended"
    ],
    "rules": {
        // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
        "prettier/prettier": "error",
        "no-console": "off",
        "object-shorthand": "error",
        "import/prefer-default-export": "off",
        "@typescript-eslint/dot-notation": 1
    }
}